html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 1%;
}

article,
aside,
footer,
header,
nav,
section {
	display: block
}

.icono {
margin-bottom:30px;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

figcaption,
figure,
main {
	display: block
}



